html {

}

body {
  padding: 40px;
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-family: serif;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-family: serif;
}

h3 {
  padding-top: 10px;
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  color: #009999;

}

h4 {
  font-size: 16px;
  font-family: serif;
  font-weight: bold;

}

h5 {
  text-align: center;
  font-size: 16px;
  font-family: serif;
  padding-top: 15px;
}

p {

}

<li>
